<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="5">
	<test thread-count="5" name="Test">
		<classes>
			<class name="mouseHoverActions.DoubleClick" />
			<class name="mouseHoverActions.Move" />
			<class name="mouseHoverActions.RightClick" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
